body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("http://www.hdwallpaper.nu/wp-content/uploads/2015/02/Elegant-Taylor-Swift-2015.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

#header:hover {
    color: #8f00bf;
}

#header {
    background-color: rgba(33, 24, 29, 0.8);
    right: 0px;
    left: 0px;
    top: 0px;
    color: #ff35f1;
    font-family: Lalezar;
    font-size: 40px;
    padding: 5px;
    transition: color 1s;
    height: 100px;
    position: fixed;
}

#container {
    margin-top: 120px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 100px;
}

#footer:hover {
    color: #8f00bf;
}

#footer {
    overflow: hidden;
    position: static;
    color: #ff35f1;
    font-family: Lalezar;
    font-size: 15px;
    background-color: rgba(33, 24, 29, 0.8);
    /*  background-image: url("http://www.hdwallpaper.nu/wp-content/uploads/2015/02/Elegant-Taylor-Swift-2015.jpg");*/
    text-align: center;
    margin-bottom: 0;
    width: 100%;
    padding: 0.5em;
    transition: color 1s;
}

h3:hover {
    color: #7105ba;
}

h3 {
    color: #ff35f1;
    transition: color 0.4s;
}

#ind {
    width: 50%;
    text-align: center;
    float: left;
    left: auto;
    margin-top: 100px;
}

#body {
    padding: 10px;
    padding-bottom: 60px;
}

.p:hover {
    color: #ff35f1;
}

.p {
    font-family: Baloo Bhai;
    font-size: 20px;
    color: #7105ba;
    transition: color 0.3s;
}

.subbtn:hover {
    border-bottom: 3px solid #d6085a;
    box-shadow: inset 0 -3px 0 0 #000, 0 3px 0 0 #000;
}

.subbtn {
    background-color: #e8d1d0;
    color: #21181D;
    border-bottom: 3px dotted #9C0234;
}

.sugar_bay_glasses_style:active {
    border: 7px solid #21181D;
    background-color: #e8d1d0;
}

.sugar_bay_glasses_style {
    font-size: 20px;
    border-radius: 50px;
    padding: 10px 18px;
    border: 7px solid #e8d1d0;
    background-color: #21181D;
    color: #d6085a;
}

#profile {
    line-height: 40px;
    width: 50%;
    text-align: center;
    float: left;
    left: auto;
    font-family: Baloo Bhai;
    font-size: 30px;
    color: #d6085a;
}

#upic {
    height: 40px;
    width: 60px;
}

#pro_pic {
    height: 40px;
    width: 40px;
}

#profile_list {}

#error-messages {
    width: auto;
    max-width: 700px;
    margin: auto;
    clear: both;
}

#error-messages p {
    padding: 10px 60px;
    text-align: center;
    font-weight: 600;
}

.cright:hover {
    color: rgb(0, 0, 255);
    width: 400px;
}

.cright {
    width: 250px;
    float: right;
    color: black;
    font-family: Lalezar;
    transition: color 0.3s;
    transition: width 2s;
    animation-duration: 1200ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    from {
        color: #ff35f1;
    }
    to {
        color: #7105ba;
    }
}

#imageUploadForm {
    width: 50%;
    color: purple;
    line-height: 40px;
    text-align: center;
    left: auto;
    font-family: Baloo Bhai;
}

progress[value] {
    width: 100%;
    height: 20px;
}

.during-upload {
    display: none;
}

progress[value]::before {
    content: attr(data-content);
}

.links {
    background-color: #e8d1d0;
    color: #21181D;
    font-family: serif;
}

.image-upload-fields {
    width: 500px;
}

.w3-btn {
    background-color: #e8d1d0;
    font-family: Lalezar;
    color: green;
    border-radius: 20px;
}

.w3-closebtn {
    background-color: #e8d1d0;
    color: red;
    border-radius: 20px;
}
